<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <span class="navbar-brand pull-left">Widgets</span>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right borderMarginR">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
<!-- main body -->
<div class="container-fluid marginTop marginBottom">
    <div class="container-fluid" wbdv-sortable="">
        <div ng-repeat="widget in model.widgets" class="row marginTop widget-Pos">

            <div ng-switch="widget.widgetType">
                <div ng-switch-when="HEADER" class="col-xs-12">
                    <ng-include src="'views/widget/templates/widget-header.view.client.html'"></ng-include>
                </div>

                <div ng-switch-when="HTML" class="col-xs-12">
                    <ng-include src="'views/widget/templates/widget-html.view.client.html'"></ng-include>
                </div>

                <div ng-switch-when="IMAGE" class="img-rounded col-xs-12">
                    <ng-include src="'views/widget/templates/widget-image.view.client.html'"></ng-include>
                </div>

                <div ng-switch-when="YOUTUBE" class="img-rounded col-xs-12">
                    <ng-include src="'views/widget/templates/widget-youtube.view.client.html'"></ng-include>
                </div>
            </div>
            <div class="row">
                <div class=" col-xs-2 col-mid-1 col-xs-offset-10 col-mid-offset-11 up">
                    <div class="pull-right widget-style">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-cog"/>
                        </a>
                        <span class="glyphicon glyphicon-align-justify"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bottom bar -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                <p class="navbar-text pull-left borderMarginR">
                    <a href="">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </p>
                <p class="navbar-text pull-left borderMarginR">
                    <a href="">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </p>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right borderMarginR">
                    <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>