<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-5 hidden-xs hidden-sm">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <span class="navbar-brand pull-left">Websites</span>
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>

            <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
                <p class="navbar-text pull-left visible-xs visible-sm">
                    <a href="#/user/{{model.userId}}/website">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <span class="navbar-brand pull-left">New Website</span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
                <p class="navbar-text pull-right">
                    <a href ng-click="model.createNewWebsite(model.website)">
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="container-fluid col-md-5 col-lg-5 hidden-xs hidden-sm sideBorder">
        <div class="marginTop">
            <div class="row">

                <div ng-repeat="website in model.websites">
                    <div class="col-xs-10">
                        <a href="#/user/{{model.userId}}/website/{{website._id}}/page" class="pull-left  borderMargin">
                            {{website.name}}
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right borderMargin">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid col-xs-12 col-md-7 marginTop">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <form>
            <div class="form-group">
                <label for="websiteName">Name</label>
                <input type="text" class="form-control" id="websiteName" placeholder="Name"
                       ng-model="model.website.name"/>
            </div>
            <div class="form-group">
                <label for="websiteDescription">Description</label>
                <textarea class="form-control" rows="6" id="websiteDescription"
                          placeholder="Description" ng-model="model.website.description">
                </textarea>
            </div>
        </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 hidden-xs hidden-sm">

            </div>
            <div class="col-xs-10 col-md-6">

            </div>
            <div class="col-xs-1 pull-right">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>